.form, .anime, .container{
    border: solid 1px black;
    width: 800px;
    margin: auto;
    padding: 20px;
}



.anime, .container{
    height: 400px;
    margin-top: 20px;
}

.container {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.item{
    /* width: 200px; */
    /* height: 100px; */
    background-color: rebeccapurple;
    border: solid 1px black;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 20px;
}

@keyframes anime-1 {
    0% {
        width: 50px;
        height: 50px;
    }

    25%{
        width: 150px;
        height: 150px;
    }

    50%{
        width: 250px;
        height: 250px;
    }

    75%{
        width: 150px;
        height: 150px;
    }

    100%{
        width:0px;
        height: 0px;
    }

}


.ball{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    animation-name: anime-1;
    animation-duration: 10s;
}