header, main, footer{
    width: 75%;
    border: solid 1px gray;
    min-height: 50px;
    background-color: beige;
    margin: 10px auto;
}

main{
    min-height: 55vh;
}



nav  ul{
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: aqua;
}

nav > ul li {
    list-style: none;
    position: relative;
}

nav > ul > li a{
    display: block;
    text-decoration: none;
    padding: 7px;
    border-bottom: 1px solid gray;
    background-color: aqua;
    height: 20px;
}

nav > ul > li ul{
    visibility: hidden;
    /* display: none; */
    margin-left: 300px;
    /* height: 0; */

    position: absolute;
}

nav > ul > li:hover ul{
    /* display: block; */
    visibility: visible;
    /* position: relative; */
    /* bottom: 35px; */
    top:0;
} 

.sub{
    float: right;
}


