table {
    border: solid 3px black;
    width: 500px;
    height: 400px;
    border-collapse: collapse;
}

table td {
    border: solid 3px red;
}

table th {
    border: solid 3px green;
}

table tfoot td{
    text-align: center;
    border: solid 3px green;
    font-weight: bold;
}

.section-2{
    height: 100px;
    background-color: silver;

}

.container{
    height: 100px;
    width: 300px;
    border: solid 1px black;
}

.c-2{
    margin-bottom: 10px;
    margin-left: 30px;
    margin: auto;
}

.c-4{
    margin: 20px 50px 60px 80px;
    padding-left: 100px;
    padding-top: 50px;
    box-sizing: border-box;
}

.ball{
    height: 50px;
    width: 50px;
    border: solid 1px green;
    background-color: yellowgreen;
    border-radius: 50%;
}