.container-1 div{
    border: solid 1px black;
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    display: inline-block;
}

div img {
    width: 200px;
    height: 200px;
}

.container-2 div{
    height: 100px;
    width: 200px;
    border: solid 2px green;
}

.container-2 .item-1{
    width: 50%;
    height: 500px;
    background-image: url(img/bg-1.jfif);
    background-repeat:no-repeat;
    background-size: 200px 200px;
    background-attachment: fixed;
}

.container-2 .item-2{
    width: 80%;
    height: 500px;
    background-image: url(img/bg.jfif);
    background-repeat: no-repeat;
    background-color: bisque;
}