.container{
    border: solid 3px gray;
    width: 700px;
    height: 400px;
    margin: auto;
    margin-bottom: 30px;
}

.ball{
    width: 50px;
    height: 50px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: yellowgreen;
    transform: translate(0px, 0px);
    transition: width 2s, background 2s, border-radius 4s, transform 3s;
}

.ball:hover{
    width: 200px;
    background-color: blue;
    border-radius: 0%;
    transform: translate(30px, 700px);
}

@keyframes anime-1 {
    from {
        transform: translate(0, 0);
    }

    to{
        transform: translate(650px, 0px);
    }
}


@keyframes anime-2 {
   0% {
        transform: translate(0, 0);
    }

   25%{
        transform: translate(650px, 0px);
    }

   50%{
        transform: translate(650px, 350px);
    }

    75%{
        transform: translate(0px, 350px);
    }

    100%{
        transform: translate(0px, 0px);
    }
}


.ball-1{
    width: 50px;
    height: 50px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: yellowgreen;
    animation-name: anime-2;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:5;
    animation-delay:2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

