main{
    border: solid 3px gray;
    width: 500px;
    height: 400px;
    margin: auto;
    background-color: beige;
}

main h1{
    text-align: center;
}

.audio{
    width: 500px;
    height: 300px;
}

.audio video{
    width: 500px;
    height: 300px;
}