

.container-1, .container-2{
    width: 50%;
    margin: auto;
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 10px;
}

.container-1 div {
    width: 200px;
    margin: 5px;
    border: solid 4px green;
    height: 100px;
    /* display: inline; */
    /* display: inline-block; */
    /* display: none; */
    /* visibility: hidden; */
    /* display: contents; */
}


.container-1 .div-over-flow{
    /* overflow: scroll; */
    overflow: hidden;
}

.container-2 {
    background-color: antiquewhite;
    overflow: hidden;
}

.container-2 div {
    width: 200px;
    margin: 5px;
    border: solid 4px green;
    height: 100px;
    font-size: 3em;
    font-weight: bold;
    /* display: inline-block; */
    float: left;
}

.div-pos{
    width: 200px;
    min-height: 120px;
    background-color: aqua;
    margin: 10px;
    border: solid 1px black;
    font-weight: bold;
    font-size: 2em;
}


.pos-exp-2{
    background-color: brown;
    position: absolute;
    width: 100px;
    min-height: 70px;
    right:-250px;
    bottom: 100px;
}

.pos-exp-1{
    background-color: yellowgreen;
    position: absolute;
    width: 150px;
    left: 300px;
}

.pos-exp-4{
    background-color: blueviolet;
    position: fixed;
    left: 30px;
}


.for-scroll{
    height: 700px;
}


.pos-exp-7{
    background-color: aquamarine;
    position: sticky;
    width: 98%;
    margin: auto;
    top:0px
}

.pos-exp-9{
    background-color: cadetblue;
    position: relative;
    left: 20px;
    bottom: 50px;
}



















.container{
    border: solid 4px black;
    min-height: 300px;
    width: 400px;
    margin: auto;
    background-color:aqua ;
    margin-bottom: 30px;
}


.container ul{
    background-color: antiquewhite;
}

.container ul li {
    border-bottom: solid 1px red;
}

.container > div{
    height: 70px;
    width: 100px;
    background-color: rebeccapurple;
    margin: 20px;
    border: solid 2px red;
}

.container > div > div {
    height: 20px;
    background-color: yellow;
    border: solid 1px black;
    margin: 10px;
}