.form-1{
    width: 700px;
    padding: 20px;
    border: solid 3px gray;
    margin: auto;
    min-height: 20vh;
}

.form-1 div{
    margin: 10px;
    border-bottom: solid 1px silver;
    padding: 8px;
}

.form-1 label{
    display: block;
    margin-bottom: 3px;
}

.form-1 input{
    padding: 8px;
    font-size: 1.2em;
}

.form-1 input:focus{
    background-color: aquamarine;
}

.form-1 button {
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
}