*{
    box-sizing: border-box;
}

.container{
    border: solid 1px black;
    width: 90%;
    margin: auto;
    min-height: 650px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items:center;
    gap: 10px;
}

.container div{
    width: 200px;
    /* min-height: 150px; */
    height: 150px;
    background-color: aqua;
    border: solid 1px black;
    font-size: 2em;
    /* display: inline-block; */
    /* float: left; */
    flex-grow: 1;
}
