body{
    background-color: rgb(226, 219, 226);
}

div {
    background-color: bisque;
}

.div-1{
    background-color: brown;
}

.div-3{
    text-decoration: line-through;
}

#div-2{
    color: blue;
    font-size: 2em;
    font-style: italic;
    background-color: cadetblue;
}