body{
    background-color: aquamarine;
    padding: 0;
    margin: 0;
}

body div {
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: white;
    margin-bottom: 20px;
}

.container-1, .container-2, .container-3{
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: white;
    margin-bottom: 20px;
}

@media  screen and (min-width:1000px) {
    body {
        background: yellowgreen;
    }

    .container-1{
        width: 100%;
    }
}

@media  screen and (max-width:500px) {
    body {
        background: purple;
    }

    .container-1, .container-2, .container-3{
        width: 250px;
        background-color: red;
    }
}