body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

header{
    height: 120px;
    border: solid 2px silver;
    width: 65%;
    margin: auto;
    background-color: antiquewhite;
}

header .logo{
    margin: 10px;
}

header .logo img{
    width: 90px;
    border-radius: 50%;
}