*{
    box-sizing: border-box;
}

header, main, footer{
    width: 80%;
    min-height: 100px;
    border: solid 1px gray;
    margin: 10px auto;
}

header{
    background-color: chocolate;
}

footer{
    background-color: aquamarine;
}

main{
    height: 400px;
    display: flex;
}

.left, .content, .right {
    border: solid 1px gray;
    margin: 1%;
}

.left{
    background-color: yellow;
    width: 20%;
}

.right{
    background-color: rgb(118, 118, 90);
    width: 20%;
}

.content{
    background-color: rgb(70, 53, 114);
    width: 60%;
}

@media screen and (max-width:900px) {
    header {
        display: none;
    }

    main{
        flex-wrap: wrap;
    }

    .content{
        width: 100%;
        order: 1;
    }

    .left, .right{
        width: 48%;
        order: 2;
    }
}


@media screen and (max-width:600px) {
    header{
        display: block;
    }

    footer, .left, .right{
        display: none;
    }
}



